# Copiez ce fichier vers secrets.yaml et remplacez les valeurs
wifi_ssid: "TonWiFi"
wifi_password: "TonMotDePasseWiFi"
ota_password: "UnMotDePasseOTA_auMoins12Chars"
api_encryption_key: "GenerezAvec_esphome_dashboard_ou_openssl_rand_base64_32"
mqtt_username: "autoterm"
mqtt_password: "TonMotDePasseMQTT"
fallback_password: "AutotermFallback"
web_username: "admin"
web_password: "TonMotDePasseWeb"
